n8n/audio-workflow.json
{
  "name": "Alkaid - Game Audio Generation",
  "nodes": [
    {
      "parameters": {},
      "id": "b1b2c3d4-0001-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "category",
              "value": "={{ $json.category || 'all' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000002",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "music_style",
              "value": "ancient Chinese orchestral, guzheng, erhu, dizi flute, pipa, traditional pentatonic scale, cinematic"
            },
            {
              "name": "sfx_style",
              "value": "realistic foley, historical weapon sounds, ancient battlefield, clean recording, no music"
            },
            {
              "name": "ambient_style",
              "value": "natural environment, field recording style, seamless loop, no music, subtle atmospheric"
            },
            {
              "name": "music_format",
              "value": "mp3"
            },
            {
              "name": "music_bitrate",
              "value": "192k"
            },
            {
              "name": "sfx_format",
              "value": "mp3"
            },
            {
              "name": "sfx_bitrate",
              "value": "128k"
            },
            {
              "name": "ambient_format",
              "value": "mp3"
            },
            {
              "name": "ambient_bitrate",
              "value": "128k"
            },
            {
              "name": "sfx_duration_ms",
              "value": "2000"
            },
            {
              "name": "ambient_duration_s",
              "value": "30"
            },
            {
              "name": "music_duration_s",
              "value": "120"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000003",
      "name": "Set Audio Style",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value": "music",
              "output": 0
            },
            {
              "value": "sfx",
              "output": 1
            },
            {
              "value": "ambient",
              "output": 2
            },
            {
              "value": "all",
              "output": 3
            }
          ]
        },
        "dataType": "string",
        "value1": "={{ $json.category }}"
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000004",
      "name": "Route by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const music_style = $input.first().json.music_style;\nconst duration = $input.first().json.music_duration_s;\n\nconst tracks = [\n  {\n    name: 'battle_theme',\n    file: 'audio/music/battle_theme.mp3',\n    prompt: `${music_style}, intense battle music, fast tempo war drums and erhu, building tension, heroic brass, dramatic crescendo, 120 BPM, loop-friendly ending`,\n    duration_s: duration,\n    tags: 'battle,combat,intense'\n  },\n  {\n    name: 'deployment_theme',\n    file: 'audio/music/deployment_theme.mp3',\n    prompt: `${music_style}, strategic planning music, calm guzheng melody, contemplative dizi flute, steady pace, thoughtful and measured, 80 BPM, seamless loop`,\n    duration_s: duration,\n    tags: 'deployment,planning,calm'\n  },\n  {\n    name: 'campaign_theme',\n    file: 'audio/music/campaign_theme.mp3',\n    prompt: `${music_style}, epic journey music, sweeping pipa arpeggios, majestic erhu melody, rising strings, sense of adventure and destiny, 100 BPM, grand orchestral`,\n    duration_s: duration,\n    tags: 'campaign,overworld,epic'\n  }\n];\n\nreturn tracks.map(t => ({\n  json: {\n    ...t,\n    category: 'music',\n    api: 'suno',\n    format: $input.first().json.music_format,\n    bitrate: $input.first().json.music_bitrate,\n    output_path: `public/assets/${t.file}`\n  }\n}));"
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000005",
      "name": "Build Music Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 60]
    },
    {
      "parameters": {
        "jsCode": "const sfx_style = $input.first().json.sfx_style;\nconst duration_ms = parseInt($input.first().json.sfx_duration_ms);\n\nconst sounds = [\n  {\n    name: 'sword_clash',\n    file: 'audio/sfx/sword_clash.mp3',\n    prompt: `${sfx_style}, metal sword clashing against metal, sharp ringing impact, bronze blade contact, single strike`,\n    duration_ms: 1500,\n    tags: 'combat,melee,impact'\n  },\n  {\n    name: 'arrow_volley',\n    file: 'audio/sfx/arrow_volley.mp3',\n    prompt: `${sfx_style}, volley of arrows flying through air, multiple arrow whistle sounds, swarm of projectiles, whooshing`,\n    duration_ms: 2500,\n    tags: 'combat,ranged,projectile'\n  },\n  {\n    name: 'cavalry_charge',\n    file: 'audio/sfx/cavalry_charge.mp3',\n    prompt: `${sfx_style}, thundering horse hooves galloping, multiple horses charging on dirt, growing louder, cavalry stampede`,\n    duration_ms: 3000,\n    tags: 'combat,cavalry,movement'\n  },\n  {\n    name: 'horn_signal',\n    file: 'audio/sfx/horn_signal.mp3',\n    prompt: `${sfx_style}, ancient Chinese war horn blast, deep resonant brass horn signal, single sustained note, commanding`,\n    duration_ms: 2000,\n    tags: 'signal,command,horn'\n  },\n  {\n    name: 'drum_beat',\n    file: 'audio/sfx/drum_beat.mp3',\n    prompt: `${sfx_style}, Chinese war drum beat pattern, deep taiko-style drum hits, rhythmic military cadence, commanding tempo`,\n    duration_ms: 3000,\n    tags: 'signal,command,drum'\n  },\n  {\n    name: 'unit_rout',\n    file: 'audio/sfx/unit_rout.mp3',\n    prompt: `${sfx_style}, soldiers fleeing in panic, distant shouting and scrambling feet, armor clanking while running, disorganized retreat`,\n    duration_ms: 2500,\n    tags: 'morale,retreat,panic'\n  },\n  {\n    name: 'victory_gong',\n    file: 'audio/sfx/victory_gong.mp3',\n    prompt: `${sfx_style}, large Chinese ceremonial gong strike, deep resonant brass gong with long sustain, triumphant single hit`,\n    duration_ms: 3000,\n    tags: 'victory,ceremony,gong'\n  },\n  {\n    name: 'ui_click',\n    file: 'audio/sfx/ui_click.mp3',\n    prompt: `${sfx_style}, soft wooden click, bamboo tap, subtle UI interaction sound, clean and short`,\n    duration_ms: 500,\n    tags: 'ui,interface,click'\n  }\n];\n\nreturn sounds.map(s => ({\n  json: {\n    ...s,\n    category: 'sfx',\n    api: 'elevenlabs',\n    format: $input.first().json.sfx_format,\n    bitrate: $input.first().json.sfx_bitrate,\n    output_path: `public/assets/${s.file}`\n  }\n}));"
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000006",
      "name": "Build SFX Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 280]
    },
    {
      "parameters": {
        "jsCode": "const ambient_style = $input.first().json.ambient_style;\nconst duration_s = parseInt($input.first().json.ambient_duration_s);\n\nconst ambients = [\n  {\n    name: 'rain',\n    file: 'audio/ambient/rain.mp3',\n    prompt: `${ambient_style}, steady rainfall on ancient Chinese battlefield, rain on armor and tents, puddle splashes, moderate intensity rain`,\n    duration_s: duration_s,\n    tags: 'weather,rain,loop'\n  },\n  {\n    name: 'wind',\n    file: 'audio/ambient/wind.mp3',\n    prompt: `${ambient_style}, open field wind blowing across grassland, banner flapping in breeze, gentle whistling through mountain pass`,\n    duration_s: duration_s,\n    tags: 'weather,wind,loop'\n  },\n  {\n    name: 'night_crickets',\n    file: 'audio/ambient/night_crickets.mp3',\n    prompt: `${ambient_style}, nighttime crickets chirping in Chinese countryside, occasional frog, distant owl, peaceful evening atmosphere`,\n    duration_s: duration_s,\n    tags: 'night,nature,loop'\n  },\n  {\n    name: 'battlefield_idle',\n    file: 'audio/ambient/battlefield_idle.mp3',\n    prompt: `${ambient_style}, quiet battlefield before combat, distant murmuring soldiers, occasional metal clink, tense anticipation, wind over open field`,\n    duration_s: duration_s,\n    tags: 'battlefield,idle,loop'\n  }\n];\n\nreturn ambients.map(a => ({\n  json: {\n    ...a,\n    category: 'ambient',\n    api: 'stability_audio',\n    format: $input.first().json.ambient_format,\n    bitrate: $input.first().json.ambient_bitrate,\n    output_path: `public/assets/${a.file}`\n  }\n}));"
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000007",
      "name": "Build Ambient Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "jsCode": "// Combine all audio categories when 'all' is selected\nconst music_style = $input.first().json.music_style;\nconst sfx_style = $input.first().json.sfx_style;\nconst ambient_style = $input.first().json.ambient_style;\n\nconst music = [\n  { name: 'battle_theme', file: 'audio/music/battle_theme.mp3', prompt: `${music_style}, intense battle music, fast tempo war drums and erhu, building tension, heroic brass, dramatic crescendo, 120 BPM, loop-friendly ending`, api: 'suno', category: 'music', duration_s: $input.first().json.music_duration_s, format: $input.first().json.music_format, bitrate: $input.first().json.music_bitrate },\n  { name: 'deployment_theme', file: 'audio/music/deployment_theme.mp3', prompt: `${music_style}, strategic planning music, calm guzheng melody, contemplative dizi flute, steady pace, thoughtful and measured, 80 BPM, seamless loop`, api: 'suno', category: 'music', duration_s: $input.first().json.music_duration_s, format: $input.first().json.music_format, bitrate: $input.first().json.music_bitrate },\n  { name: 'campaign_theme', file: 'audio/music/campaign_theme.mp3', prompt: `${music_style}, epic journey music, sweeping pipa arpeggios, majestic erhu melody, rising strings, sense of adventure and destiny, 100 BPM, grand orchestral`, api: 'suno', category: 'music', duration_s: $input.first().json.music_duration_s, format: $input.first().json.music_format, bitrate: $input.first().json.music_bitrate }\n];\n\nconst sfx = [\n  { name: 'sword_clash', file: 'audio/sfx/sword_clash.mp3', prompt: `${sfx_style}, metal sword clashing against metal, sharp ringing impact, bronze blade contact, single strike`, api: 'elevenlabs', category: 'sfx', duration_ms: 1500, format: $input.first().json.sfx_format, bitrate: $input.first().json.sfx_bitrate },\n  { name: 'arrow_volley', file: 'audio/sfx/arrow_volley.mp3', prompt: `${sfx_style}, volley of arrows flying through air, multiple arrow whistle sounds, swarm of projectiles, whooshing`, api: 'elevenlabs', category: 'sfx', duration_ms: 2500, format: $input.first().json.sfx_format, bitrate: $input.first().json.sfx_bitrate },\n  { name: 'cavalry_charge', file: 'audio/sfx/cavalry_charge.mp3', prompt: `${sfx_style}, thundering horse hooves galloping, multiple horses charging on dirt, growing louder, cavalry stampede`, api: 'elevenlabs', category: 'sfx', duration_ms: 3000, format: $input.first().json.sfx_format, bitrate: $input.first().json.sfx_bitrate },\n  { name: 'horn_signal', file: 'audio/sfx/horn_signal.mp3', prompt: `${sfx_style}, ancient Chinese war horn blast, deep resonant brass horn signal, single sustained note, commanding`, api: 'elevenlabs', category: 'sfx', duration_ms: 2000, format: $input.first().json.sfx_format, bitrate: $input.first().json.sfx_bitrate },\n  { name: 'drum_beat', file: 'audio/sfx/drum_beat.mp3', prompt: `${sfx_style}, Chinese war drum beat pattern, deep taiko-style drum hits, rhythmic military cadence, commanding tempo`, api: 'elevenlabs', category: 'sfx', duration_ms: 3000, format: $input.first().json.sfx_format, bitrate: $input.first().json.sfx_bitrate },\n  { name: 'unit_rout', file: 'audio/sfx/unit_rout.mp3', prompt: `${sfx_style}, soldiers fleeing in panic, distant shouting and scrambling feet, armor clanking while running, disorganized retreat`, api: 'elevenlabs', category: 'sfx', duration_ms: 2500, format: $input.first().json.sfx_format, bitrate: $input.first().json.sfx_bitrate },\n  { name: 'victory_gong', file: 'audio/sfx/victory_gong.mp3', prompt: `${sfx_style}, large Chinese ceremonial gong strike, deep resonant brass gong with long sustain, triumphant single hit`, api: 'elevenlabs', category: 'sfx', duration_ms: 3000, format: $input.first().json.sfx_format, bitrate: $input.first().json.sfx_bitrate },\n  { name: 'ui_click', file: 'audio/sfx/ui_click.mp3', prompt: `${sfx_style}, soft wooden click, bamboo tap, subtle UI interaction sound, clean and short`, api: 'elevenlabs', category: 'sfx', duration_ms: 500, format: $input.first().json.sfx_format, bitrate: $input.first().json.sfx_bitrate }\n];\n\nconst ambient = [\n  { name: 'rain', file: 'audio/ambient/rain.mp3', prompt: `${ambient_style}, steady rainfall on ancient Chinese battlefield, rain on armor and tents, puddle splashes, moderate intensity rain`, api: 'stability_audio', category: 'ambient', duration_s: $input.first().json.ambient_duration_s, format: $input.first().json.ambient_format, bitrate: $input.first().json.ambient_bitrate },\n  { name: 'wind', file: 'audio/ambient/wind.mp3', prompt: `${ambient_style}, open field wind blowing across grassland, banner flapping in breeze, gentle whistling through mountain pass`, api: 'stability_audio', category: 'ambient', duration_s: $input.first().json.ambient_duration_s, format: $input.first().json.ambient_format, bitrate: $input.first().json.ambient_bitrate },\n  { name: 'night_crickets', file: 'audio/ambient/night_crickets.mp3', prompt: `${ambient_style}, nighttime crickets chirping in Chinese countryside, occasional frog, distant owl, peaceful evening atmosphere`, api: 'stability_audio', category: 'ambient', duration_s: $input.first().json.ambient_duration_s, format: $input.first().json.ambient_format, bitrate: $input.first().json.ambient_bitrate },\n  { name: 'battlefield_idle', file: 'audio/ambient/battlefield_idle.mp3', prompt: `${ambient_style}, quiet battlefield before combat, distant murmuring soldiers, occasional metal clink, tense anticipation, wind over open field`, api: 'stability_audio', category: 'ambient', duration_s: $input.first().json.ambient_duration_s, format: $input.first().json.ambient_format, bitrate: $input.first().json.ambient_bitrate }\n];\n\nconst all = [...music, ...sfx, ...ambient].map(a => ({\n  json: { ...a, output_path: `public/assets/${a.file}` }\n}));\n\nreturn all;"
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000008",
      "name": "Build All Audio Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 720]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value": "suno",
              "output": 0
            },
            {
              "value": "elevenlabs",
              "output": 1
            },
            {
              "value": "stability_audio",
              "output": 2
            }
          ]
        },
        "dataType": "string",
        "value1": "={{ $json.api }}"
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000009",
      "name": "Route by API",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "url": "https://studio-api.suno.ai/api/external/generate/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"topic\": \"{{ $json.prompt }}\",\n  \"tags\": \"{{ $json.tags || '' }}\",\n  \"make_instrumental\": true,\n  \"mv\": \"chirp-v4\"\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 10000
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000010",
      "name": "Suno - Generate Music",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 60],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_SUNO_CREDENTIAL_ID",
          "name": "Suno API Key"
        }
      },
      "notes": "SETUP: Create HTTP Header Auth credential with Name='Authorization' and Value='Bearer YOUR-SUNO-API-KEY'. Suno generates 2 clips per request. Rate limited to 1 req/10s."
    },
    {
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/sound-generation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.prompt }}\",\n  \"duration_seconds\": {{ Math.ceil(($json.duration_ms || 2000) / 1000) }},\n  \"prompt_influence\": 0.5\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          },
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000011",
      "name": "ElevenLabs - Generate SFX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 280],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_ELEVENLABS_CREDENTIAL_ID",
          "name": "ElevenLabs API Key"
        }
      },
      "notes": "SETUP: Create HTTP Header Auth credential with Name='xi-api-key' and Value='YOUR-ELEVENLABS-KEY'. Returns audio binary directly."
    },
    {
      "parameters": {
        "url": "https://api.stability.ai/v2beta/audio/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "audio/*"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.prompt }}\",\n  \"duration\": {{ $json.duration_s || 30 }},\n  \"steps\": 50\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          },
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000012",
      "name": "Stability Audio - Generate Ambient",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_STABILITY_CREDENTIAL_ID",
          "name": "Stability AI API Key"
        }
      },
      "notes": "SETUP: Create HTTP Header Auth credential with Name='Authorization' and Value='Bearer sk-YOUR-STABILITY-KEY'. Returns audio binary."
    },
    {
      "parameters": {
        "jsCode": "// FFmpeg post-processing for audio normalization and format conversion\n// Requires FFmpeg installed in the n8n environment\n//\n// For Docker: add `apt-get install -y ffmpeg` to your n8n Dockerfile\n// For npm install: ensure ffmpeg is on PATH\n\nconst { execSync } = require('child_process');\nconst fs = require('fs');\nconst path = require('path');\nconst os = require('os');\n\nconst items = [];\n\nfor (const item of $input.all()) {\n  const outputPath = item.json.output_path;\n  const format = item.json.format || 'mp3';\n  const bitrate = item.json.bitrate || '128k';\n  const category = item.json.category;\n\n  // Get binary data\n  let inputBuffer;\n  if (item.binary && item.binary.data) {\n    inputBuffer = Buffer.from(item.binary.data.data, 'base64');\n  } else if (item.json.audio_url) {\n    // For Suno which returns a URL - download handled separately\n    items.push({\n      json: {\n        ...item.json,\n        needs_download: true,\n        processing: 'pending'\n      }\n    });\n    continue;\n  } else {\n    items.push({\n      json: {\n        error: `No audio data for ${item.json.name}`,\n        name: item.json.name\n      }\n    });\n    continue;\n  }\n\n  const tmpInput = path.join(os.tmpdir(), `alkaid_${item.json.name}_input.wav`);\n  const tmpOutput = path.join(os.tmpdir(), `alkaid_${item.json.name}_output.${format}`);\n\n  try {\n    fs.writeFileSync(tmpInput, inputBuffer);\n\n    // Build FFmpeg command based on category\n    let ffmpegCmd;\n    if (category === 'music' || category === 'ambient') {\n      // Normalize loudness, convert format, ensure loop-friendly\n      ffmpegCmd = `ffmpeg -y -i \"${tmpInput}\" -af \"loudnorm=I=-16:TP=-1.5:LRA=11,afade=t=out:st=${parseInt(item.json.duration_s || 30) - 2}:d=2\" -b:a ${bitrate} \"${tmpOutput}\"`;\n    } else {\n      // SFX: normalize, trim silence, convert\n      ffmpegCmd = `ffmpeg -y -i \"${tmpInput}\" -af \"silenceremove=start_periods=1:start_silence=0.05:start_threshold=-50dB,loudnorm=I=-14:TP=-1:LRA=7\" -b:a ${bitrate} \"${tmpOutput}\"`;\n    }\n\n    execSync(ffmpegCmd, { timeout: 30000 });\n\n    const outputBuffer = fs.readFileSync(tmpOutput);\n    const binaryData = await this.helpers.prepareBinaryData(\n      outputBuffer,\n      `${item.json.name}.${format}`,\n      `audio/${format === 'mp3' ? 'mpeg' : format}`\n    );\n\n    items.push({\n      json: {\n        name: item.json.name,\n        category: item.json.category,\n        output_path: outputPath,\n        size: outputBuffer.length,\n        format: format,\n        processed: true\n      },\n      binary: {\n        data: binaryData\n      }\n    });\n\n    // Cleanup temp files\n    try { fs.unlinkSync(tmpInput); } catch(e) {}\n    try { fs.unlinkSync(tmpOutput); } catch(e) {}\n\n  } catch (e) {\n    items.push({\n      json: {\n        error: `FFmpeg processing failed for ${item.json.name}: ${e.message}`,\n        name: item.json.name,\n        output_path: outputPath\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000013",
      "name": "FFmpeg Post-Process",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "fileName": "={{ $json.output_path }}",
        "options": {
          "append": false
        }
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000014",
      "name": "Save Audio File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1940, 300]
    },
    {
      "parameters": {
        "jsCode": "// Summary of audio generation\nconst results = $input.all();\nconst summary = {\n  total: results.length,\n  successful: results.filter(r => !r.json.error).length,\n  failed: results.filter(r => r.json.error).length,\n  by_category: {\n    music: results.filter(r => r.json.category === 'music' && !r.json.error).length,\n    sfx: results.filter(r => r.json.category === 'sfx' && !r.json.error).length,\n    ambient: results.filter(r => r.json.category === 'ambient' && !r.json.error).length\n  },\n  errors: results.filter(r => r.json.error).map(r => r.json),\n  generated: results.filter(r => !r.json.error).map(r => ({\n    name: r.json.name,\n    path: r.json.output_path,\n    size: r.json.size,\n    format: r.json.format\n  }))\n};\n\nreturn [{ json: summary }];"
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000015",
      "name": "Generation Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2180, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Set Audio Style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Audio Style": {
      "main": [
        [
          {
            "node": "Route by Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Category": {
      "main": [
        [
          {
            "node": "Build Music Prompts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build SFX Prompts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Ambient Prompts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build All Audio Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Music Prompts": {
      "main": [
        [
          {
            "node": "Route by API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SFX Prompts": {
      "main": [
        [
          {
            "node": "Route by API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ambient Prompts": {
      "main": [
        [
          {
            "node": "Route by API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build All Audio Prompts": {
      "main": [
        [
          {
            "node": "Route by API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by API": {
      "main": [
        [
          {
            "node": "Suno - Generate Music",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ElevenLabs - Generate SFX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stability Audio - Generate Ambient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suno - Generate Music": {
      "main": [
        [
          {
            "node": "FFmpeg Post-Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs - Generate SFX": {
      "main": [
        [
          {
            "node": "FFmpeg Post-Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stability Audio - Generate Ambient": {
      "main": [
        [
          {
            "node": "FFmpeg Post-Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg Post-Process": {
      "main": [
        [
          {
            "node": "Save Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Audio File": {
      "main": [
        [
          {
            "node": "Generation Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "alkaid",
      "id": "1"
    },
    {
      "name": "asset-generation",
      "id": "2"
    },
    {
      "name": "audio",
      "id": "4"
    }
  ],
  "meta": {
    "instanceId": "alkaid-war-game",
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}